@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: var(--red-hat-display);
}

@layer base {
   :root {
      --radius: 0.5rem;
   }
}

.admin-sidebar {
   block-size: 100%;
   inline-size: 256px;
   inset-block-start: 0;
   transition: transform 0.3s ease-in-out, inline-size 0.3s ease-in-out;
   will-change: transform, inline-size;
}